.git
.github
.cursor
.env
.env.*
!.env.example
node_modules
vendor
public/hot
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
tests
*.md
docker-compose*
phpunit.xml
